<dic class="container">
    <h1> EDIT your posts </h1>
    <br>

<form action="/edit" method="post">
    <div class="form-group">
        <label for="inputTitle">Title:</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title" value="">
    </div>


    <br>
    <br> Contents<br><br>
    <textarea name="content" rows="20" cols="50">
    </textarea>
    <button value="submit">Done Editing</button>
</form>


