<dic class="container">
    <h1> New Post </h1>
    <br>

    <form action="/posts" method="post">
    <div class="form-group">
        <label for="inputTitle">Title:</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title">
    </div>


<br>
<br> Contents<br><br>
<textarea name="content" rows="20" cols="50">
</textarea>

  <br><br><button value="submit">Create New Post</button>

</form>



